div {
    display flex: ;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding-top: 3px;
    height: 30px;
    width: 48px;
    margin: 1px;
    
}


.flex{
    display: flex;
    margin: 5%;
    margin-top: 5%;
    background-color:gainsboro;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    border-radius: 10px;
    width: 260px;
    height: auto;
    padding: 10px;
        
    
    }

    .display{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 250px;
        height: 40px;
        background-color:rgb(182, 182, 229) ;
        color: white;
        padding-right: 10px;
        font-size: 30px;
    }

    .result{
    
        justify-content: center;
        align-items: center;
        background-color: rgb(148, 148, 25);
        color: white; 
                        
    }

    .hide{
        height: 1px;
        visibility: hidden;
    }
    h1{
        font-size: larger;
        margin: 10%;
    }